header {
    background-color: palevioletred;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    margin-top: -3rem;
    color: lightgray;
}

.logo {
    margin-left: 4rem;
 
    color: palevioletred;
    font-size: 2rem;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 1.5rem;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin-top: -2rem;
}

.item-menu {
    list-style: none;
    text-decoration: none;
    color:  palevioletred;
    font-weight: bold;
}

.item-menu:hover {
    background-color: gray;
    transition: 1s;
    margin: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
}

.item-menu a {
    text-decoration: none;
    color: palevioletred;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-family: cursive; 
}

.item-menu:hover a {
    color: hotpink;
}

img {
    width: 20%;
    margin: 2rem auto;
    margin-top: 10px;
}

aside#lateral {
    display: block;
    float: right;
    width: 50rem;
    font-size: 1.5rem;
    font-family: cursive;
    margin:6rem auto;
    padding-left: 10px;
    padding-right: 35px;
    color: gray;
}

aside#lateral img {
    border-radius: 50rem;
    display: block;
    float: right;
    margin-right: 10rem;
}

footer {
    background-color: palevioletred;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 0 auto;
    font-size: 1.5rem;
    color: lightgray;
    
}